/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2017, 5:18:09 PM
    Author     : Ravi
*/

.rge_event_entry{
    margin-bottom: 21px;
}
 
.rge_event_entry h4{
    margin-bottom: 3px;
}
 
.rge_event_entry h4 a{
    text-decoration: none;
    color: inherit;
}
 
.rge_event_entry .event_venue{
    font-size: 0.9em;
    color: #777777;
    font-weight: normal;
    font-style: italic;
}
 
.rge_event_entry p{
    margin-bottom: 3px !important;
}
 
.rge_event_entry .rge_event_date{
    font-size: 0.9em;
    color: #777777;
}